<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>密码找回</title>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    body, html {
        margin: 0;
        padding: 0;
    }

    #temp {
        width: 100%;
        background-color: #4CAF50;
        padding: 12px;
        color: white;
    }
</style>
<body>

<div id="temp">
    由于开发者时间有限，暂时未开放密码找回功能。
    <br>
    如果您确实忘记了密码，请在设置内点击反馈联系开发者。
    <br>
    QQ：776310072
    <br>Email：xxyangyoulin@gmail.com
</div>

</body>
</html>
